<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".WidgetActivity"
            android:exported="false" />

        <!-- Return deeplink, unique per host app -->
        <activity
            android:name=".RedirectActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="@string/host_name"
                    android:path="/${applicationId}"
                    android:scheme="@string/app_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>
